.toolbar {
    display: flex;
    width: 99%;
    height: 2.3rem;
    background: lightgreen;
    border-radius:5px;
    vertical-align: middle;
    padding: 5px;
}

.grupPrincipal {
    /*background:blueviolet;*/
    display: flex;
    flex:auto;
}

.elementMeniu {
    border-width:1px;
    padding: 5px;
    background: beige;
    margin: 2px;
    border-radius:5px;
    border-color:red;
}

.elementMeniu:hover {
    color: blue;
    border-color:blue;
    border-style: solid;
}

.paginaAcasa {
    background-color:bisque
}

.meniuLogin {
    background: yellowgreen;
    padding: 5px;
    margin-right: 3px;
}

/* incercare de meniu dropdown cu ul - pentru logout */
.ul-logout-container {
    list-style: none;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.ul-logout-container li {
    float: left;
    margin-right: 10px;
    position: relative;
}

.ul-logout-container a {
    display: block;
    padding: 5px;
    color:#fff;
    background-color: #333;
    text-decoration: none;
}

.ul-logout-container li:hover li ul {
    left: 0;
    background: red;
}

.ul-logout {
    background-color: #fff;
    background: rgba(255,255,255,0);
    list-style: none;
    position: absolute;
    left: -9999px;
}

.ul-logout li {
    padding-top: 1px;
    float: none;
}


/*------------------------------------*\
    NAV
\*------------------------------------*/
.nav {
    list-style: none;
    font-weight: bold;
    margin: 0;
    float: left; /* Clear floats */
    padding-left: 0px;
    
    /* Bring the nav above everything else--uncomment if needed.
    position: relative;
    z-index: 5;
    */
}
.nav li {
    float: left;
    position: relative;
    padding-right: 2px;
}
.nav a {
    display: block;
    padding: 0px;
    color: #fff;
    background-color: yellowgreen;
    text-decoration: none;
    border-radius:5px;
}
.nav a:hover {
    color: #555;
    /*background-color: #6b0c36;*/
    text-decoration: underline;
    margin-bottom: 3px;
}

/*--- DROPDOWN ---*/
.nav ul {
    background-color: #fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background: rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style: none;
    position: absolute;
    left: -9999px; /* Hide off-screen when not needed (this is more accessible than display: none;) */
}
.nav ul li {
    padding: 1px; /* Introducing a padding between the li and the a give the illusion spaced items */
    float: none;
}
.nav ul a {
    white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
.nav li:hover ul { /* Display the dropdown on hover */
    left: -60px; /* Bring back on-screen when needed */
}
.nav li:hover a { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    /*background-color: #6b0c36;*/
    text-decoration: underline;
}
.nav li:hover ul a { /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration: none;
    padding: 4px;
}
.nav li:hover ul li a:hover { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    /*background-color: #333;*/ 
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    margin-top: 3px;
    text-decoration: underline;
}